<h2>Employe List</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th> First Name </th>
      <th> Last Name </th>
      <th> Email Id </th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employe of employees">
      <td> {{employe.firstName}} </td>
      <td> {{employe.lastName}} </td>
      <td> {{employe.emailId}} </td>
      <td>
        <button (click)="updateEmployee(employe.id)" class="btn btn-info">Update</button>
        <button (click)="deleteEmployee(employe.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
        <!-- <button (click)="viewEmployee(employe.id)" class="btn btn-info">View</button> -->
    </tr>
  </tbody>
</table>
